.footer-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--primary);

  }

  div > h5 {
    
    color: var(--white);
    margin: 0.5rem auto;
    font-weight: 100;
    font-size: 1.5rem;
  }