<app-header />
<div class="login-form-container">
  <form (ngSubmit)="submitHandler()" #myForm="ngForm" class="login-card login-form fadeIn fourth">
    <date-pipe />

    <div class="login-form-controls-container">
      <div>
        <input class="login-form-control" type="email" id="email" placeholder="Enter your email" [(ngModel)]="email"
          name="email" required autofocus>

      </div>
      <div>
        <input class="login-form-control" type="password" id="password" name="password"
          placeholder="Enter your password" [(ngModel)]="password" name="password" required>

      </div>
      <div>
        <button type="submit" class="login-btn login-btn-primary fadeIn fourth">
          {{ formMode ? 'Register' : 'Login'}}
        </button>
      </div>
      <div>
        <span class="footer-container underlineHover" (click)="toggleMode()">
          Switch to {{ !formMode ? 'Register' : 'Login' }}
        </span>
      </div>
      <div class="login-btn login-btn-primary fadeIn fourth">
        <h1>Daily Tasks</h1>
      </div>
    </div>
  </form>
</div>
<app-footer />