
.login-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 2rem;
  }
}

.login-menu-item {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}


.login-card {
  border: none;
  border-radius: 4px;
  background-color: none;
}

.login-form-container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.login-form-buttons {
  width: 100%;
}


.login-line-bottom {
  border-bottom: 1px solid var(--login-color-card-border);
}

.login-btn {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-btn-primary {
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--primary);
}

.login-form-controls-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin: 20px 0;
}

.login-form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin: 0.5rem;
  padding: 0 1.5rem;
  color: white;
  border-radius: 4px;
  border: 1px solid var(--login-color-card-border);
  background: none;
}

.login-form-control:focus {
  outline: none;
}

.login-form-control::placeholder {
  color: var(--login-color-font-placeholder);
}

.login-input-error {
  border: 1px solid var(--login-color-error);
}

.login-form-error {
  color: var(--login-color-error);
  font-size: 12px;
  padding-left: 4px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  content: "";
  transition: width 0.2s;
  
}

.underlineHover:hover {
  color: var(--primary);
  cursor: pointer;
}

.underlineHover:hover:after{
  width: 100%;
}

h1 {
  font-size: 1.5rem;
}