:host {
    width: 100%;
  
    h1 {
      font-size: 1.5rem;
      margin: 1rem 0;
      color: var(--white);
      text-align: center;
    }
  
    .has-items {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-bottom: 1px solid var(--primary);
      margin: 1rem auto;
    }
  
    .remove-margin-bottom {
      margin-bottom: 0;
    }
  }