<header>
  <app-logout />
</header>
<section [ngClass]="{
    'has-items': inputListItems.length
  }">
 
  <h1>Tasks</h1>

  @if(inputListItems.length){
  <date-pipe />
  <br />
  }

  <div [ngClass]="{
      container: inputListItems.length
    }">
    <label for="inputValue" class="input-label-text"  [ngClass]="{
        'remove-margin-bottom': !inputListItems.length
      }">
      <input type="text" (keyup.enter)="focusAndAddItem(inputText.value)" placeholder="Add a new item!" id="inputValue"
        autofocus #inputText />

      <button class="btn btn-primary-circle" title="Add a new item!"
        (click)="focusAndAddItem(inputText.value)"></button>
    </label>
  </div>
</section>
