.nav-container {
    display: flex;
    height: 2.75rem;
    width: 100%;
    padding: 0 2rem;
    justify-content: right;
    align-items: center;
    background: rgba(245, 132, 3, 0.1);
    margin: 0 auto;
    font-size: 1.5rem;
    color: var(--white);
    border-bottom: 0.0675rem solid rgba(218, 148, 27, 0.25);
}

a {
    text-decoration: none;
    color: var(--white);
}