<div class="container-home fadeIn fourth">
    <h1 class="container-home-text">Daily Tasks</h1>
    <h2 class="container-home-text">Capture the moment and seize the day!!!</h2>
    <img class="home-img" src='../../../assets/img/undraw_online_organizer_re_156n.svg' alt="Sign-in page" />
    <div>
        <a class = "icons" routerLink="/login">
            <img src="../../../../../assets/icons/check-list.svg" alt="Tasks" />
            <h2 class="container-home-text">Sign-in</h2>
        </a>    
    </div>
</div>
<app-footer />