<section>
    <div class="container-home fadeIn fourth">
        <h1 class="container-home-text">Daily Tasks</h1>
        <h2 class="container-home-text">Capture the moment and seize the day!!!</h2>
        <figure>
            <img class="home-img" src='../../../assets/img/undraw_online_organizer_re_156n.svg' alt="Sign-in page" />
        </figure>
        <div>
            <a class="icons" routerLink="/login">
                <h2 >Sign-in</h2>
            </a>
        </div>
    </div>
</section>
<app-footer />