:root {
    --primary: rgba(255, 138, 8, 1);
    --primary-010: #D69121;

    --grey: #9b9ba0;

    --white: #f8f8f8;
    
    --black: #10101a;
    --black-010: #2a2a30;

    --red: #e02130;
    --red-010: #a30010;

    --green: #429867;
    --login-btn-primary: white;
    --login-color-bg-primary: #e8e8e8;
    --login-color-bg-secondary: #ffe500;
    --login-color-bg-tertiary: #636363;
    --login-color-bg-quaternary: #0caf1d;
  
    --login-color-card-bg: #fff;
    --login-color-card-border: rgb(248, 165, 9);
  
    --login-color-btn-primary: #3483fa;
    --login-color-btn-inverse: #fff;
  
    --login-color-font-primary: #636363;
    --login-color-font-secondary: #0caf1d;
    --login-color-font-tertiary: #fff;
    --login-color-font-placeholder: #ad8a16;
  
    --login-color-error: #f33;
}