:root {
    --primary: rgba(255, 138, 8, 1);
    --primary-010: #D69121;

    --grey: #9b9ba0;

    --white: #f8f8f8;
    
    --black: #101010;
    --black-010: rgba(16,16,16, 0.5);

    --red: #e02130;
    --red-010: #a30010;

    --green: #429867;
    --login-btn-primary: white;
    --login-color-bg-primary: #e8e8e8;
    --login-color-bg-secondary: #ffe500;
    --login-color-bg-tertiary: #636363;
    --login-color-bg-quaternary: rgb(12, 175, 29);
  
    --login-color-card-bg: #fff;
    --login-color-card-border: rgb(248, 165, 9);
  
    --login-color-btn-primary: rgb(119, 167, 238);
    --login-color-btn-inverse: #fff;
  
    --login-color-font-primary: #636363;
    --login-color-font-secondary: #0caf1d;
    --login-color-font-tertiary: #fff;
    --login-color-font-placeholder: #ad8a16;
  
    --login-color-error: #f33;
        --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );
}