:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;

    h1 {
        color: var(--white)
    }

    div.container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;

        .btn-primary,
        app-input-add-item {
            margin-top: 30px;
            width: 100%;
            font-size: 2rem;
            color: #000;
        }

        .btn-primary:hover {
            font-size: 2.5rem;
            color: var(--white);
        }
        img {
            margin: 2rem auto;
        }

    }

    main.container {

        height: calc(100vh - 130px - 90px);
        height: calc(100dvh - 130px - 90px);

        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: var(--black-010);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--primary);
            border-radius: 5px;
        }

        h2 {
            font-size: 2.5rem;
            margin: 0.5rem auto;
        }

        .btn-danger {
            font-size: 2rem;
        }

        .btn-danger:hover {
            font-size: 2.5rem;
        }
    }

    footer {
        height: 90px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-top: 1px solid var(--primary);
    }
}